In [85]:
import pandas as pd
import numpy as np
import math

In [3]:
data_set = pd.read_csv("country_vaccination_stats.csv")

In [4]:
data_set

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [5]:
# Detects the number of different countries in the list
country = data_set.iloc[0,0]
country_count = 1
for i in range(len(data_set)):
    if (data_set.iloc[i,0] != country):
        country_count = country_count + 1
        country = data_set.iloc[i,0]

In [146]:
# Creates an array which is made out of minimum daily vaccinations for every country
countries = ["" for x in range(country_count)]

constant = 1000000000000
country_mins = np.zeros((country_count)) + constant
countries[0] = data_set.iloc[0,0]
counter = 0
country = data_set.iloc[0,0]

for i in range(len(data_set)):
    if (data_set.iloc[i,0] != country):
        counter = counter + 1
        countries[counter] = data_set.iloc[i,0]
        country = data_set.iloc[i,0]
        
    if (pd.notnull(data_set.iloc[i,2])):
        if (data_set.iloc[i,2] <= country_mins[counter]):
            country_mins[counter] = data_set.iloc[i,2]

for i in range(country_count):
    if (country_mins[i] == constant):
        country_mins[i] = 0.0

In [7]:
# Fills the unvalid daily vaccination numbers
country = data_set.iloc[0,0]
counter = 0

for i in range(len(data_set)):
    if (data_set.iloc[i,0] != country):
        country = data_set.iloc[i,0]
        counter = counter + 1
    if (pd.isnull(data_set.iloc[i,2])):
        data_set.iloc[i,2] = country_mins[counter]

In [46]:
# Records of the indexes where country changes
country_indexes = np.zeros(60)
counter = 0 
country = data_set.iloc[0,0]

for i in range(len(data_set)):
    if (data_set.iloc[i,0] != country):
        country = data_set.iloc[i,0]
        country_indexes[counter] = i
        counter = counter + 1

country_indexes[59] = len(data_set)
country_indexes = country_indexes.astype(int)

In [121]:
country_indexes

array([  28,   48,   77,  103,  113,  141,  184,  217,  254,  280,  307,
        324,  354,  384,  386,  422,  451,  477,  499,  528,  543,  572,
        600,  627,  638,  652,  677,  682,  720,  750,  751,  780,  812,
        838,  866,  899,  916,  959,  988, 1016, 1022, 1050, 1079, 1108,
       1138, 1150, 1193, 1211, 1226, 1238, 1256, 1278, 1300, 1322, 1352,
       1365, 1386, 1422, 1459, 1502])

In [122]:
country_medians = np.zeros(country_count)

temp_arr = np.sort(data_set.iloc[0:country_indexes[0],2])
country_medians[0] = temp_arr[int(len(temp_arr)/2)]

for i in range(country_count-1):
    temp_arr = np.sort(data_set.iloc[country_indexes[i]:country_indexes[i+1],2])
    if (len(temp_arr) > 1):
        country_medians[i+1] = (temp_arr[(math.ceil(len(temp_arr)/2))] + temp_arr[(math.ceil(len(temp_arr)/2))]) / 2
    else:
        country_medians[i+1] = temp_arr[0]

In [152]:
sorted_medians = np.sort(country_medians)

result = np.where(country_medians == sorted_medians[len(sorted_medians)-1])
max_1 = countries[result[0][0]]

result = np.where(country_medians == sorted_medians[len(sorted_medians)-2])
max_2 = countries[result[0][0]]

result = np.where(country_medians == sorted_medians[len(sorted_medians)-3])
max_3 = countries[result[0][0]]

In [155]:
print("Countries with most daily vaccinations:")
print("1-",max_1)
print("2-",max_2)
print("3-",max_3)

Countries with most daily vaccinations:
1- United States
2- China
3- India