In [5]:
import numpy as np
import pandas as pd

In [6]:
#No links or files were given for this assignment so I will be leaving the parts empty where it should be a file name
data_set = pd.read_excel("example.xlsx")

In [11]:
data_set = data_set[0:5]

In [40]:
for i in range(len(data_set)):
    temp_text = data_set.iloc[i,1]
    text = temp_text.split("://")
    text = text[1].split(".com")
    text = text[0] + ".com"
    data_set.iloc[i,1] = text

In [41]:
data_set

,Device_Type,Status_Acces_Link,Unnamed: 2,Unnamed: 3
0,AXO145,xcd32112.smart_meter.com,NaN,NaN
1,TRU151,txha112.smart_meter.com,NaN,NaN
2,ZOD231,xcd32112.smart_meter.com,NaN,NaN
3,YRT326,xkll2112.smart_meter.com,NaN,NaN
4,LWR245<url>https://xcd32112.smart_meter.com</url>,xcd32112.smart_meter.com,NaN,NaN