In [26]:
import pandas as pd
import numpy as np
import math

In [27]:
data_set = pd.read_csv("country_vaccination_stats.csv")

In [28]:
data_set

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [29]:
# Detects the number of different countries in the list
country = data_set.iloc[0,0]
country_count = 1
for i in range(len(data_set)):
    if (data_set.iloc[i,0] != country):
        country_count = country_count + 1
        country = data_set.iloc[i,0]

In [30]:
# Records of the indexes where country changes
country_indexes = np.zeros(60)
counter = 0 
country = data_set.iloc[0,0]

for i in range(len(data_set)):
    if (data_set.iloc[i,0] != country):
        country = data_set.iloc[i,0]
        country_indexes[counter] = i
        counter = counter + 1

country_indexes[59] = len(data_set)
country_indexes = country_indexes.astype(int)

In [31]:
# Calculates medians for each country

temp_arr = np.sort(data_set.iloc[0:28,2])
country_medians = np.zeros(country_count)
null_counter = 0

for i in range(len(temp_arr)):
    if (pd.isnull(temp_arr[i])):
        null_counter = null_counter + 1

country_medians[0] = (temp_arr[(math.ceil(len(temp_arr-null_counter)/2))] + temp_arr[(math.ceil(len(temp_arr-null_counter)/2))]) / 2

for i in range(country_count-1):
    temp_arr = np.sort(data_set.iloc[country_indexes[i]:country_indexes[i+1],2])
    null_counter = 0
    
    for k in range(len(temp_arr)):
        if (pd.isnull(temp_arr[k])):
            null_counter = null_counter + 1
        
    if ((len(temp_arr)-null_counter) > 0):
        if ((len(temp_arr)-null_counter) > 1):
            country_medians[i+1] = (temp_arr[(math.ceil(len(temp_arr)/2))] + temp_arr[(math.ceil(len(temp_arr)/2))]) / 2
        else:
            country_medians[i+1] = temp_arr[0]
    else:
        country_medians[i+1] = 0

In [32]:
#Fillst the invalid entries with the medians
country = data_set.iloc[0,0]
counter = 0

for i in range(len(data_set)):
    if (data_set.iloc[i,0] != country):
        country = data_set.iloc[i,0]
        counter = counter + 1
    if (pd.isnull(data_set.iloc[i,2])):
        data_set.iloc[i,2] = country_medians[counter]

In [33]:
data_set

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,11932.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"